.container {
  height: 100vh;
  display: flex;
  width: fit-content;
  overflow-x: scroll;
}

.firstCol {
  width: 200px;
}

.expandCol {
  flex: 1;
  min-width: 100px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.lastCol {
  width: 300px;
}
